extend ../layout2

block header    
	//link(rel='stylesheet', href='/editable/bootstrap3-editable/css/bootstrap-editable.css')
	//link(rel='stylesheet', href='/bootstrap-select/dist/css/bootstrap-select.min.css')

//block content-header

block content
	// Content Header (Page header)
	section.content-header
		h1
			label(data-i18n='directorysearch') Directory Search
			small(data-i18n='directorysearch') Directory Search
			//|  
			//button.btn-ext-add.btn.btn-success(type='button', disabled='') 
				i.fa.fa-plus
				| Add Extension
		ol.breadcrumb
			li
				a(href='/api/v1/directorysearch?access_token=' + token )
					i.fa.fa-group
					label(data-i18n='directorysearch')  Directory Search
			li.active(data-i18n='-directorysearch') Directory Search 
	// Main content
	section.content
		.row
			.col-md-12
				.box.box-primary
					.box-header.with-border
					.box-body.directory-list(data-role=role , data-extension=extension )
					.box-footer.no-padding
					
	.modal.view-detail.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title(data-i18n='detail') Detail
				.modal-body
					#headerlist.col-md-12
					#callin.col-md-12
					#callout.col-md-12
				.modal-footer
					//button.btn.btn-default(type='button', data-dismiss='modal' , data-i18n='cancel') Cancel
					//button.btn-ext-add-ok.btn.btn-primary(type='button' , data-i18n='add') Add
			// /.modal-content
		// /.modal-dialog
	// /.modal
	
	// /.modal

block script
	//script(type='text/javascript').
	//var rowPerPage = 9;
	//var rateList = [];


	script(type='text/javascript', src='/javascripts/moment.min.js')
	script(type='text/javascript', src='/editable/bootstrap3-editable/js/bootstrap-editable.min.js')
	script(type='text/javascript', src='/AdminLTE-2.3.3/plugins/datatables/jquery.dataTables.min.js')
	script(type='text/javascript', src='/AdminLTE-2.3.3/plugins/datatables/dataTables.bootstrap.min.js')
	script(type='text/javascript', src='/javascripts/jquery.finger.min.js')
	script(type='text/javascript', src='/javascripts/app.func.js')
	script(type='text/javascript', src='/javascripts/directory.func.js')
	script(type='text/javascript').
		$(document).ready(function() {
			
			/* declare variables */
			var v_exttype = 'Normal';
			var v_lic = true;
			var v_same_name = false;
			var v_same_authcode = false;
			
			/*$.Finger = {
				pressDuration: 300,
				doubleTapInterval: 300,
				flickDuration: 150,
				motionThreshold: 5
			};*/
			DirectoryLoad("!{user}","!{ext_lic}","!{token}")
			if("!{role}"!='guest'){getLicenseUsage("!{user}","!{ext_lic}","!{token}");}
		});
		
		$(document).ajaxStart(function() { Pace.restart(); });
